{% extends 'general/layout.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Log in{% endblock %}

{% block page_content %}
    <div class="container">
        <form method="post" >
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-sm-6">
                    {{ form.username|as_crispy_field }}
                    {{ form.password|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
    </div>
{% endblock %}
